<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Text-A-Minion</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <link href='http://fonts.googleapis.com/css?family=Dosis:400,700' rel='stylesheet' type='text/css'>
  </head>
<body>
  <div class="container">
    <h1>TEXT-A-MINION</h1>
    <img src="http://media.giphy.com/media/EOpZ7XsVfTN2E/giphy.gif">
      <form action="/" method="POST">
        <p>Send a random minion gif to a friend and brighten their day!</p>
        What number do you want to send your minion?<br><input type="tel" placeholder="3021234567 " class="number" name="recipient"><br><br>
        What's are you going to say?<br>
        <input type="text" class="message" placeholder="You're one in a minion!" name="textmessage"><br><br>
        Your name<br>
        <input type="text" placeholder="Your name" class="sender" name="sender"><br>
        <input class="btn" type= "submit">
      </form>
  </div>
  <img class="minion_background" src="static/minion-background.png">
</body>

</html>
